<h2>Login to system</h2>
<form action="" method="POST">
    User Name: <input type="text" name="username" placeholder="username" required autocomplete="on"><br>
    Password: <input type="password" name="password" placeholder="password" required autocomplete="on"><br>
    <button type="submit"> Login</button>
    <br>
    <a href="/auth/register">Register if you had no account!</a>
</form>